@font-face {
  font-family: "rubikregular";
  src: url("fonts/rubik-regular-webfont.woff2") format("woff2"),
    url("fonts/rubik-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sinkin_sans400_regular";
  src: url("fonts/sinkinsans-400regular-webfont.woff2") format("woff2"),
    url("fonts/sinkinsans-400regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "rubikregular";
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
    font-size: 62.5%;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/* ==== CSS RESET END ==== */

* {
  /* border: 0.3px dotted rgb(0, 17, 255); */
}

body {
  background-color: rgb(255, 221, 227);
}

.core{
  height: 124vh;
  display: grid;
  grid-template: 1fr / 1fr 6fr
}

/* ===/ SIDEBAR STYLES /=== */

.sidebar{
  background-color: rgb(255, 71, 111);
  grid-area: 1/1/2/2;
}

.topSide {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 92, 128);
  font-size: 3.3vh;
  font-weight: 800;
  margin: 1vh;
  border-radius: 0.5vh;
}

.linker {
  display: grid;
  grid-template: 1fr / repeat(4, 1fr)
}

.link {
  font-size: 2vh;
  color: black;
  place-content: center;
}

.link:hover {
  text-decoration: none;
  color: rgb(255, 160, 215)
}

.icon{
  height: 5vh;
  width: 5vh;
  margin: 1vh;
}

/* ===/ OTHERBAR STYLES /=== */

.otherbar{
  display: grid;
  grid-template-columns: 1fr 5fr / 4fr 1fr;
}

/* == NAVIGATION STYLES == */

.nav {
  background-color: rgb(241, 100, 131);
  display: grid;
  grid-area: 1/1/2/3
}

.topNav {
  height: 6vh;
}

.searchCont {
  display: grid;
  grid-template: 1fr / 1fr 10fr 3fr 1fr;
}

.search {
  height: 5vh;
  width: 5vh;
}

.searchBar {
  width: 100vh;
  height: 5vh;
  border: 0.4vh solid black;
  font-size: 2.5vh;
  margin: 1vh;
}

.bottomNav {
  margin: 1vh;
  display: grid;
  grid-template: 1fr / 1fr 1fr
}

.user {
  width: 40vh;
  display: grid;
  grid-template: 1fr / 1fr 1fr
}

.profilePic {
  height: 7vh;
  width: 7vh;
}

.welcome {
  font-size: 2.5vh;
}

.name {
  font-size: 3vh;
  place-content: center;
}

.buttons>* {
  margin: 1vh;
  place-content: center;
}

button {
  padding: 0.7vh 1.5vh; 
  background-color: rgb(189, 4, 50);
  color: white;
  border-radius: 0.5vh;
  border: none;
  font-size: 2.5vh;
}

button:hover {
  background-color: rgb(145, 0, 36);
}


/* == BOTTOM BOX STYLES == */
/* Project Styles */

.projects {
  grid-area: 2/1/3/2
}

.projEnter {
  font-size: 3vh;
  margin: 1vh;
}

.projTitle {
  font-size: 2.5vh;
}

.indivProjects {
  margin: 1vh;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  gap: 1vh;
}

.project {
  background-color: white;
  box-shadow: 1vh 1vh rgb(17, 17, 17, 0.4);
  border-radius: 1vh;
  width: 60vh;
  margin: 1vh;

  display: grid;
  grid-template: repeat(1, 1fr)/repeat(1, 1fr)
}

.project:hover {
 background-color: rgb(240, 240, 240);
 box-shadow: 1vh 1vh rgb(17, 17, 17, 0.6);
 border: 1px dotted black;
}

.project>*{
  margin: 1vh;
}

.projTitle {
  background-color: rgb(255, 195, 203);
}

.projText,
.fillerText {
  font-size: 1.8vh;
}

.one {
  grid-area: 1/1/2/2;
}

.two {
  grid-area: 1/2/2/3;
}

.projIcons {
  height: 3vh;
  width: 15vh;
  display: grid;
  grid-template: 1fr / repeat(3, 1fr)
}

.iconner {
  height: 3vh;
  width: 3vh;
}

.st {
  grid-area: 1/1/2/2;
}

.see {
  grid-area: 1/2/2/3;
}

/* Side Content Styles */
.sideContent {
  margin: 1vh;
}

.announcements,
.trending {
  margin: 1vh;
}

.announceDiv {
  background-color: white;
  box-shadow: 1vh 1vh rgb(17, 17, 17, 0.4);
  border-radius: 1vh;
}

.announceMSG>* {
  margin: 1vh;
}

.impText {
  font-weight: 700;
  background-color: rgb(255, 195, 203);
  font-size: 2vh;
}

.opener {
  font-size: 2.8vh;
  margin: 1vh
}

/* ==== FOOTER STYLES: DO NOT TOUCH!! ==== */
footer {
  display: flex;
  background-color: rgb(17, 17, 17);
  color: white;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
.githubIMG {
  height: 7vh;
  width: 7vh;
  margin: 1vh;
}
.closer {
  font-weight: 800;
  font-size: 3.5vh;
}
